html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding:0;
}

body{
  font-family:"Hiragino Kaku Gothic Pron W3", sans-serif;
}

.top-wrapper{
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top.png)
}
